# Flask server configuration.
FLASK_APP=app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

TRELLO_KEY=
TRELLO_TOKEN=

APP_BOARD_NAME='To Do App'
TRELLO_USER=''
TRELLO_ENDPOINT='https://api.trello.com/1/'